@media all and (max-width:1000px) {
  .header-right{
    float: none;
  }
  .header-left{
    float: none;
  }
  header{
    height:auto;
  }
  .header-left h1{
    font-size: 30px;
    padding-top: 20px;
  }
  .introduce h1{
    font-size: 40px;
    padding-top:200px;
  }
  .main img{
    width: 100%;
  }
  .main-content{
    flex-wrap: wrap;
  }
  .main-content p{
    width: 100%;
  }
  .main h2{
    padding: 100px 0 70px 0;
  }
  .foot-wrapper p{
    text-align: center;
    font-size: 15px;
  }
  .lesson{
    width: 100%;
    margin-bottom: 20px;
  }
  .lesson-wrapper{
    flex-wrap: wrap;
  }
  .btn{
    width: 100%;
    padding: 40px 0;
    font-size: 30px;
    margin-bottom: 150px;
  }
  input{
    width: 100%;
    height: 60px;
  }
  .question p{
    margin-bottom: 20px;
  }
  p{
    font-weight: normal;
    font-size: 20px;
  }
  .lessons h2{
    padding: 100px 0 30px 0;
  }
  h2{
    font-size: 25px;
  }
}
