h1,p,h2,a{
  font-weight: bold;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
}
h1{
  font-size: 25px;
}
header{
  background-color: red;
  width: 100%;
  height: 65px;
}
.content{
  max-width: 1000px;
  text-align: center;
  width: 100%;
  margin:0 auto;
  padding: 0 20px;
}
.header-right{
  float:right;
  line-height: 65px;
}
.header-right a{
  color:black;
  text-decoration: none;
  margin-left: 20px;
}
.header-left{
  float: left;
  line-height: 65px;
}
.introduce{
  text-align: center;
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
}
.introduce h1{
  padding: 100px 0 20px 0;
  font-size: 30px;
  line-height: normal;
}
.introduce p{
  padding-bottom: 150px;
  line-height: normal;
}

.main h2{
  padding:50px 0;

}
.main img{
  width: 48%;
  margin-right: 30px;
  height: 300px;
}
.main-content{
  display: flex;
}
.main-content p{
  text-align: left;
  line-height: normal;
}
.lessons h2{
  padding: 30px 0;
}
.lesson-wrapper{
  display: flex;
}
.lesson{
  width: 33%;
  margin-right: 50px;
}
.lesson p{
  text-align: left;
  font-weight: normal;
}
.lesson img{
  max-width: 100%;
  height: auto;
  width :auto;
}
input{
  width: 60%;
  height: 40px;
  border-radius: 50px;
  opacity: 0.5;
}
.btn{
  display: block;
  background-color: red;
  border:1px solid white;
  color: white;
  text-decoration: none;
  width: 40%;
  margin: 0 auto;
  padding: 25px 0 ;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 25px;
  opacity: 0.6;
}
.question p{
  font-weight: normal;
}
.question h2{
  padding-top: 60px;
}
.foot-wrapper{
  border-top: 1px solid black;
}
.foot-wrapper p{
  font-weight: normal;
  text-align: right;
  padding: 20px 0 50px 0;
  font-size: 12px;
}
h2{
  font-size: 25px;
}
